Autonomo2/n8n/mcp-input-handler-workflow.json
{
  "name": "MCP Input Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "chatId": "@tu_canal_telegram"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extraer texto y adjuntos\nreturn items;"
      },
      "name": "Extraer Contenido",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ai-orchestrator/procesar_mensaje",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Enviar a AI Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat.id}}",
        "text": "={{$json.respuesta}}"
      },
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extraer Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Contenido": {
      "main": [
        [
          {
            "node": "Enviar a AI Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a AI Orchestrator": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
