Autonomo2/n8n/payment-handler-workflow.json
{
  "name": "Payment Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Validar que el pago sea exitoso\nif ($json.status === 'success') {\n  return items;\n} else {\n  throw new Error('Pago no exitoso');\n}"
      },
      "name": "Validar Pago",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:5678/webhook/payment/webhook",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Activar Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:5678/webhook/payment/webhook",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Notificar WebSocket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@tuapp.com",
        "toEmail": "={{$json.email}}",
        "subject": "Confirmación de pago",
        "text": "Tu pago fue confirmado y tu reserva está activa."
      },
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:5678/webhook/payment/webhook",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Webhook Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Pago": {
      "main": [
        [
          {
            "node": "Activar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Reserva": {
      "main": [
        [
          {
            "node": "Notificar WebSocket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar WebSocket": {
      "main": [
        [
          {
            "node": "Webhook Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Webhook Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}