Autonomo2/n8n/scheduled-tasks-workflow.json
{
  "name": "Scheduled Tasks",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9,
            "minute": 0
          }
        ]
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "http://localhost:3000/api/reportes/diario",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{}"
      },
      "name": "Ejecutar Tarea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@tuapp.com",
        "toEmail": "admin@tuapp.com",
        "subject": "Reporte Diario - {{$now.format('DD/MM/YYYY')}}",
        "text": "Reporte diario generado exitosamente.\n\nDatos del reporte:\n{{JSON.stringify($json, null, 2)}}"
      },
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Ejecutar Tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Tarea": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}